@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --black: #393939;
  --blue: #26367C;
  --gray: #676767;
  --ocean: #7480B2;
  --sky: #F5F7FB;
  --sm: 12px;
  --md: 14px;
  --lg: 22px;
  --xl: 32px;
}


html,body{
  font-family: Poppins;
  background-color: black;

}